header {
  height: 270px;
  display: flex;
}
header > .header-inner {
  display: flex;
  margin: 0 auto;
  width: 960px;
  align-items: center;
  justify-content: space-between;
}
header > .header-inner > div {
  width: 120px;
  height: 36px;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > .header-inner > ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
  align-items: center;
}

.about-contents {
  margin: 0 auto;
  width: 960px;
  padding: 0 66px 66px;
}
.about-contents > h2 {
  text-align: center;
  margin: 80px 0 65px 0;
}
.about-contents p:nth-of-type(1) {
  margin-bottom: 30px;
}
.about-contents p:nth-of-type(2) {
  margin-bottom: 30px;
}

.works-contents {
  margin: 0 auto;
  width: 960px;
}
.works-contents > h2 {
  text-align: center;
  margin-bottom: 60px;
}
.works-contents > .photo {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.works-contents > .photo > div {
  width: 256px;
  height: 166px;
}

.news-contents {
  width: 960px;
  margin: 0 auto;
}
.news-contents > h2 {
  text-align: center;
  margin: 120px 0 65px 0;
}
.news-contents > .news-item {
  padding: 0 66px 66px;
}
.news-contents > .news-item > hr {
  border: 1px solid #000;
}
.news-contents > .news-item > .news-date {
  display: flex;
  padding: 15px;
}
.news-contents > .news-item > .news-date > p:nth-of-type(1) {
  margin-right: 50px;
}
