body {
  margin: 0;
  padding: 0;
}

#body {
  margin: 0;
  padding: 0;
  width: 1170px;
  min-height: 1000px;
  margin: 0 auto;
  text-align: center;
  background-color: beige;
}

#body > hr {
  border: 1px solid white;
  width: 40%;
}

#body h1 {
  padding-top: 20px;
  font-size: 50px;
  letter-spacing: 1rem;
}

#body .hoge {
  border-radius: 20px;
  margin: 0 auto 10px;
  width: 300px;
  background-color: aqua;
}

#body h2 {
  padding-right: 500px;
  font-size: 40px;
}

#body h3 {
  font-size: 30px;
}

#body a {
  text-decoration: none;
  color: black;
}
