header {
  height: 270px;
  display: flex;
  > .header-inner {
    display: flex;
    margin: 0 auto;
    width: 960px;
    align-items: center;
    justify-content: space-between;
    > div {
      width: 120px;
      height: 36px;
      font-size: x-large;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    > ul {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      list-style: none;
      align-items: center;
    }
  }
}
